{% extends 'base.html' %}
{% load static %}


{% block content  %}
<div class="container">
    <div class="d-flex p-2 justify-content-around row">
        {% for i in meals %}
        <div class="card mt-5" style="width: 18rem;">
            <img src="{{i.strMealThumb}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.strMeal}}</h5>
              <p class="card-text">{{i.desciption}}</p>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock %}  